body{
    font-family: "Noto Sans JP", sans-serif;
}

.background{
    padding: 3%;
    color: rgb(91, 91, 91);
    background-color: rgb(255, 247, 236);
}

.menu_icon{
    position: fixed;
    object-fit: cover;
    text-align: right;
    top: 0;
    right: -5px;
    cursor: pointer;
    z-index: 100;
    width: 10%;
}
.menu_img{
    width: 60%;
    padding: 10px;
}
/* menu_click */

/* menu_contents */
.menu_contents{
    position: fixed;
    top: 5%;
    right: -100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 3px 8px 50px 0 rgba(81, 81, 81, 0.3);
    width: 75%;
    text-align: center;
    padding: 5%;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.4s ease, visibility 0.4s ease, opacity 0.4s ease;
}
.menu_contents.show {
    right: 0;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.menu_contents.hide {
    transform: translateX(100%);
    visibility: visible;
    opacity: 1;
    right: 0;
}
.x_icon{
    position: absolute;
    object-fit: cover;
    text-align: right;
    top: 4%;
    right: 4%;
    cursor: pointer;
    display: none; /* 初期状態で非表示 */
}
.x_img{
    width: 35%;
    opacity: 0.6;
    border-radius: 50%;
}
.menu{
    padding-top: 4%;
    height: 100px;
}
.menu a{
    text-decoration: none;
    color: gray;
}
.menu a:hover{
    color: rgb(51, 51, 51);
}
.menu ul{
    display: flex;
    list-style: none;
    padding-left: 0px;
}
.menu li{
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    background:url(../01_toppage/menu/arrow.png) no-repeat 0 0;
    background-size:40px auto;
    padding-left: 40px;
}
.images{
    position: relative;
    height: 300px;
}
.menu_image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    margin: 0 auto;
}
.imageItem{
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/* int */
.int_thumbnail{
    opacity: 0; /* 初期状態で透明 */
    visibility: hidden; /* 非表示状態 */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* 0.5秒で変化 */
}
.int_thumbnail.show {
    opacity: 1; /* 完全に表示 */
    visibility: visible; /* 表示状態 */
}

/* top */
.top_thumbnail{
    opacity: 0; /* 初期状態で透明 */
    visibility: hidden; /* 非表示状態 */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* 0.5秒で変化 */
}
.top_thumbnail.show {
    opacity: 1; /* 完全に表示 */
    visibility: visible; /* 表示状態 */
}

/* works */
.works_thumbnail{
    opacity: 0; /* 初期状態で透明 */
    visibility: hidden; /* 非表示状態 */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* 0.5秒で変化 */
}
.works_thumbnail.show {
    opacity: 1; /* 完全に表示 */
    visibility: visible; /* 表示状態 */
}

/* contact */
.contact_thumbnail{
    opacity: 0; /* 初期状態で透明 */
    visibility: hidden; /* 非表示状態 */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* 0.5秒で変化 */
}
.contact_thumbnail.show {
    opacity: 1; /* 完全に表示 */
    visibility: visible; /* 表示状態 */
}

.int_contents{
    width: 70%;
    margin: 0 auto;
    padding: 5% 10% 3% 10%;
    background-color: #fffbf5;
    box-shadow: 1px 5px 20px 5px rgba(102, 86, 62, 0.3);
    border-radius: 10px;
}

.info_me{
    display: flex;
    justify-content: space-between;
}

.photo_me{
    width: 50%;
    /* margin-left: 10%; */
    border-radius: 10px;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.3);
}

.text_me{
    text-align: left;
    padding: 3% 10% 3% 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item_me{
    font-size: 15px;
    margin-top: 0px;
}

.gray_border{
    border-right: 5px solid rgb(208, 208, 208);
    padding-right: 15px;
    margin-right: 20px;
}

.my_info{
    font-size: 20px;
    font-weight: 500;
}

.text_history{
    padding-top: 3%;
    margin-bottom: 10%;
}

.title_history,.title_greet{
    border-bottom: 1.2px solid rgb(208, 208, 208);
    width: 20%;
    padding-bottom: 1%;
}

.title_history p{
    font-size: 25px;
    letter-spacing: 10px;
    padding-left: 5%;
    margin: 0;
}

.title_greet p{
    font-size: 25px;
    letter-spacing: 10px;
    padding-left: 5%;
    margin: 0;
}

.history_contents{
    font-size: 15px;
}

.mvv{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}

.thin_boder{
    font-weight: lighter;
}

.my_mission,.my_vision,.my_value{
    background-color:white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.1);
    width: 25%;
    padding: 3%!important;
    text-align: center;
    position: relative;
}

.icon_mission,.icon_vision,.icon_value{
    width: 45%;
}

.my_mission::after{
    position: absolute;
    content: 'Mission';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10%;
    font-weight: 700;
    font-size: 20px;
}

.my_vision::after{
    position: absolute;
    content: 'Vision';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10%;
    font-weight: 700;
    font-size: 20px;
}

.my_value::after{
    position: absolute;
    content: 'Value';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10%;
    font-weight: 700;
    font-size: 20px;
}

/* Start_Mission */
.my_mission p{
    margin: 0;
    padding: 1%;
    font-size: 15px;
}

.title_Mission p{
    font-weight: 600;
    padding: 1%;
    font-size: 18px;
    margin: 0;
}

.contents_mission{
    text-align: left;
    padding-top: 8%;
}

.contents_mission p{
    font-size: 15px;
    line-height: 25px;
    margin: 0;
}
/* End_Mission */

/* Start_Vision */
.my_vision p{
    margin: 0;
    padding: 1%;
    font-size: 15px;
}

.title_Vision p{
    font-weight: 600;
    padding: 1%;
    font-size: 18px;
}

.contents_vision{
    text-align: left;
    padding-top: 8%;
}

.contents_vision p{
    font-size: 15px;
    line-height: 25px;
}
/* End_Vision */

/* Start_Value */
.my_value p{
    margin: 0;
    padding: 1%;
    font-size: 15px;
}

.title_Value p{
    font-weight: 600;
    padding: 1%;
    font-size: 18px;
    margin: 0;
}

.contents_value{
    text-align: left;
    padding-top: 5%;
}

.contents_value p{
    font-size: 15px;
    line-height: 25px;
    margin: 0;
}

.contents_value_text{
    font-size: 14px!important;
}

.contents_value_text_1{
    padding-bottom: 10px!important;
}
/* End_Value */