body{
    font-family: 'M PLUS 1p'
}

.background{
    /* padding-top: 3%; */
    position: relative;
    padding-bottom: 6%;
    color: rgb(91, 91, 91);
    background-color: rgb(255, 247, 236);
    text-align: left;
    min-height: 100vh;
}
.header{
    position: relative;
    width: 100%;
    height: 100px;
    position: fixed;
    float: right;
    z-index: 100;
}
.menu_icon{
    position: absolute;
    object-fit: cover;
    text-align: right;
    padding-top: 3%;
    top: 0;
    right: 60px;
}
.menu_img{
    width: 30%;
    padding: 10px;
    opacity: 0.6;
    border-radius: 50%;
    cursor: pointer;
}
.x_icon{
    position: absolute;
    display: none;
    object-fit: cover;
    text-align: right;
    padding-top: 3%;
    top: 0px;
    right: 60px;
}
.x_img{
    width: 40%;
    opacity: 0.6;
    border-radius: 50%;
    cursor: pointer;
}
/* menu_click */

/* menu_contents */
.menu_contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 3px 8px 50px 0 rgba(81, 81, 81, 0.3);
    width: 75%;
    text-align: center;
    padding: 5%;
}
.menu{
    padding-top: 5%;
}
.menu a{
    text-decoration: none;
    color: gray;
}
.menu a:hover{
    color: rgb(51, 51, 51);
}
.menu ul{
    display: flex;
    list-style: none;
    padding-left: 0px;
}
.menu li{
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    background:url(/Users/reich/portforio/01_toppage/menu/arrow.png) no-repeat 0 0;
    background-size:40px auto;
    padding-left: 40px;
}
.images{
    position: relative;
    height: 300px;
}
.menu_image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    margin: 0 auto;
}
.imageItem{
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.int_thumbnail{
    opacity: 0; /* 初期状態で透明 */
    visibility: hidden; /* 非表示状態 */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* 0.5秒で変化 */
}
.int_thumbnail.show {
    opacity: 1; /* 完全に表示 */
    visibility: visible; /* 表示状態 */
}
/* menu_contents */

/* main_contents */
.main_contents{
    position: relative;
    z-index: 0;
}
.top_video{
    width: 75%;
    z-index: 10;
}
video{
    position: relative;
    top: 0px;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 5px 5px 30px 0px rgba(102, 86, 62, 0.3);
}
.white_box{
    position: absolute;
    background-color: white;
    width: 80%;
    height: 95%;
    left: 0px;
    bottom: -8%;
    z-index: -5;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 15px 20px white;
}
.title img{
    width: 18%;
    position: absolute;
    right: 26%;
    bottom: 3%;
}

@media screen and (max-width:1280px){
    .top_video{
        width: 75%;
    }
    video{
        width: 100%;
    }
}
